:root {
  --grid-width: 60;
  --grid-size: 12px;
  --color-picker-width: 4;
  --swatch-size: 40px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-width), 1fr);
}

.grid__pixel {
  width: var(--grid-size);
  aspect-ratio: 1;
  background-color: #d3d3d3;
  outline: 1px dotted #333;
  transition: transform 0.2s;
}

.grid__pixel--active {
  background-color: #3d3d3d;
}

.grid__pixel:hover {
  outline: 1px solid red;
  z-index: 100;
  transform: scale(1.2);
}

.color-picker {
  --gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap);
  margin: 1rem auto;
  padding: var(--gap);
  border: 2px solid #3d3d3d;
  border-radius: 10px;
  max-width: calc(
    var(--color-picker-width) * var(--swatch-size) + var(--gap) *
      (var(--color-picker-width) - 1)
  );
  background-color: #aaa;
}

.color-picker__swatch {
  box-sizing: border-box;
  width: var(--swatch-size);
  aspect-ratio: 1;
  border: 2px solid #3d3d3d;
  border-radius: 5px;
  transition: transform 0.2s;
}

.color-picker__swatch:hover {
  border-color: #d3d3d3;
  transform: scale(1.1);
}

.color-picker__swatch.color-picker__swatch--active {
  border-color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
